.container {
  display: flex;
}

.main-content {
  width: 70vw;;
  height: 100vh;
  padding: 30px;
  background-color: rgb(240,240,240);
}

.todo-item-text {
  font-style: italic;
  /* font-size: 2rem; */
  color: black;
}

.task-input, 
.todo-item {
  width: 100%;
  height: 30px;
  border: 0;
  background-color: white;
  border-radius: 3px;
  padding: 3px 5px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);
  margin-bottom: 5px;
  color: black;
}

.todo-item {
    display: flex;
    justify-content: space-between;
} 

.todo-item-ifoLeft {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-item-text {
  margin-left: 5px;
}

/* -----------LEFT SIDEBAR---------------- */

.left-sidebar {
  width: 30%;
  padding: 20px;

}


