.container {
  padding: 30px;
  background-color: aliceblue;
}

.todo-item-text {
  font-style: italic;
  /* font-size: 2rem; */
  color: black;
}

.task-input, 
.todo-item {
  width: 100%;
  height: 30px;
  border: 0;
  background-color: white;
  border-radius: 3px;
  padding: 3px 5px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);
  margin-bottom: 5px;
  color: black;
}
